<%- include('header'); -%>
<div class="container-form">
	<h1><% if(editing){ %>Edit Stock<% } else { %>Add Stock<% } %></h1>

	<form method="POST" action="/<% if(editing){ %>edit-stock<% } else { %>add-stock<% } %>">
		<div>
			<label>Ticker Symbol</label>
			<input type="text" name="ticker" value="<% if(editing){ %><%= stock.ticker %><% } %>" required />
		</div>

		<div>
			<label>Quantity</label>
			<input type="number" name="quantity" min="0" value="<% if(editing){ %><%= stock.quantity %><% } else { 0 }%>" required />
		</div>
		<% if(editing){ %>
			<div>
				<input type="hidden" name="stockId" value="<%= stock.id %>" />
			</div>
		<% } %>
		<div>
			<button type="submit"><% if(editing){ %>Edit Stock<% } else { %>Add Stock<% } %></button>
		</div>
	</form>
</div>

		<%- include('footer'); -%>
	</body>
</html>