<%- include('header'); -%>

<main>
	<div class="container">
		<% stock.forEach(data => { %>
		<ul class="stock">
			<li>
				<h1><%= data.ticker %></h1>
			</li>

			<li>
				<p> <%= data.quantity %> </p>
			</li>

			<li>
				<a href="/<%= data.id %>">View Position &#x21DB;</a>
			</li>
		</ul>
		<% }) %>
	</div>
</main>
<%- include('footer'); -%>
