<%- include('header'); -%>

<main>
	<div class="container">
		<% stock.forEach(data => { %>
		<ul class="stock">
			<li>
				<h1> <%= data.ticker %> </h1>
			</li>

			<li>
				<p>Quantity: <%= data.quantity %></p>
			</li>

			<li>
				<p>Avg. Fill Price: </p>
			</li>

			<li>
				<p>Current Price: </p>
			</li>

			<li>
				<p>P/L ($USD)</p>
			</li>

			<li>
				<p>% P/L</p>
			</li>

			<li>
				<a href="/<%= data.id %>">View Position &#x21DB;</a>
			</li>
		</ul>
		<% }) %>
	</div>
</main>
<%- include('footer'); -%>
