<%- include('header'); -%>
<main>
    <div class="container-stock">
        <div><h1>Stock</h1></div>
        <div class="stock-content">
            <div>
                <h2><%= stock.ticker %></h2>

                <p class="stock-quantity"><%= stock.quantity %></p>
            </div>
        </div>
        <div class="stock-edit-delete">
            <div>
                <form method="POST" action="/delete">
                    <div>
                        <input type="hidden" value="<%= stock.id %>" name="stockId" />
                        <button>Sell All</button>
                    </div>
                </form>
            </div>
            <div>
                <a href="/edit-stock/<%= stock.id %>?edit=true">Manage</a>
            </div>
        </div>
    </div>
</main>
<%- include('footer'); -%>